body{
    background-color: burlywood;

}

h1{
    color: darkgreen;

}

h3{
    color: darkgreen;
}

hr{
    
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}